@import url("https://fonts.googleapis.com/css2?family=Italiana&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,600;1,400&display=swap");

:root {
  --light-pink: #e4d0d0;
  --dark-pink: #d5b4b4;
  --container: 1200px;
  --italianaFont: "Italiana", serif;
  --containerPadding: 5rem;
  --poppings: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Utilities */

.titleAdmin {
  margin-bottom: 3rem;
  font-weight: 300;
  font-size: 2rem;
  text-transform: uppercase;
}

.active {
  background-color: var(--dark-pink);
}

.active img {
  filter: invert(0%) sepia(98%) saturate(7%) hue-rotate(132deg) brightness(200%)
    contrast(103%);

  fill: #fff;
}

a {
  text-decoration: none;
}

.containerAdjust {
  display: flex;
  justify-content: center;
}

.containerSettings {
  padding-top: var(--containerPadding);
  width: var(--container);
}

.titleMain {
  margin-bottom: 3rem;
  font-family: var(--italianaFont);
}

body {
  background-color: #f5ebeb;
}

main {
  height: 100%;
}

.react-slideshow-wrapper.slide {
  border-radius: 1rem;
  border: 0.3rem solid #d5b4b4;
}

.react-slideshow-container .default-nav {
  margin: 0 2.5rem;
  background-color: rgba(0, 0, 0, 0.305) !important;
}
