/* @import url("https://fonts.googleapis.com/css2?family=El+Messiri&display=swap"); */

.hirayaBanner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bannerContainer {
  position: relative;
  width: 1200px;
  height: 30rem;
  border-radius: 0.5rem;
  overflow: hidden;
  margin-top: 10rem;
}

.bannerInfo {
  color: #fff;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.bannerInfo h1 {
  /* font-family: "El Messiri", sans-serif; */
  line-height: 2rem;
  width: 15rem;
  text-align: center;
  margin-bottom: 5rem;
  margin-top: 8rem;
  font-weight: 100;
}

.bannerInfo button {
  background-color: transparent;
  border: 0.2rem solid #fff;
  color: #fff;
  font-family: sans-serif;
  height: 3rem;
  width: 10rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.bannerInfo button::before {
  content: "JETZT EINKAUFEN";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 50%;
  transform: translateY(-35%);
  transition: 0.4s ease-in-out;
}

.bannerInfo button:hover::before {
  top: -10%;
}

.bannerInfo button::after {
  content: "BISMILLAH";
  font-family: var(--poppings);
  padding-top: 0.35rem;
  position: absolute;
  color: #ffffff;
  left: 0;
  right: 0;
  font-size: 1.3rem;
  bottom: 0;
  top: 5rem;
  transition: 0.4s ease-in-out;
}

.bannerInfo button:hover::after {
  top: 0;
}

.overlay {
  position: absolute;
  height: 50%;
  width: 100%;
  bottom: 0;
  z-index: 2;
  border-radius: 0.5em;
}

.black {
  background: linear-gradient(to top, #000000, #ffffff00);
}

.hirayaBannerImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.5);
}

@media (max-width: 1181px) {
  .white {
    bottom: unset;
    background: linear-gradient(to bottom, #d6d6d6, #ffffff00);
  }

  .bannerContainer {
    margin: 0;
    height: 100vh;
    border-radius: 0;
  }

  .bannerInfo {
    justify-content: flex-end;
    padding-bottom: 3rem;
  }

  .bannerInfo h1 {
    margin-bottom: 2rem;
  }

  .hirayaBannerImage {
    filter: unset;
  }

  .overlay {
    border-radius: 0;
  }
}
